<form class="w-75 m-auto mt-5" (ngSubmit)="roleSubmit()">
    <div class="form-group pt-1">
      <label >
          Role Id
      </label>
      <input name="roleId" [(ngModel)]="role.roleId" type="number" class="form-control" placeholder="Enter RoleId">
      <p class="text-danger"> {{error.roleId}}</p>
    </div>

    <div class="form-group pt-1">
      <label> Role Name</label>
      <input  name="roleName" [(ngModel)]="role.roleName" type="text" class="form-control"  placeholder="Enter Role Name">
    </div>
    <div class=" d-flex flex-row justify-content-around form-group pt-5">  
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-danger" (click)="clearForm()">Clear</button>
    </div>
  </form>

  <h1>{{updated}}</h1>
