
<div class="d-flex flex-row" style="width: 100%; height:100vh;">
   <!--sidebar--> 
  <div class="bg-secondary" style="width:15%;height:100vh;overflow: auto;border-left: 1px solid black;">
    <ul class="mt-5">
      <li>Navigation</li>
    <li><a [routerLink]="['category/category']">Category</a></li>
    <li><a [routerLink]="['user']">Employee</a></li>
    <li><a [routerLink]="['catalog/catalog']">Catalog</a></li>
    <li><a [routerLink]="['role/role']">ROle</a></li>


     </ul>

  </div>



  
  

  <!-- FOR CONTENT-->
   
  <div  style="width:85%;">
      <router-outlet></router-outlet>

 </div>






</div>
