 
  <table class="table m-auto; " style="width: 100%;">
    <thead class="thead-light">
      <tr>
        
        <th scope="col">Category Id</th>
        <th scope="col">Category Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="categories; then found ; else notfound"></ng-container>
     
      <ng-template #found>
       <tr *ngFor="let d of categories">
           <td>{{d.categoryId}}</td>
           <td>{{d.categoryName}}</td>
           <td>
               <button class="btn btn-primary" (click)="onEdit(d)">Edit</button> 
               <button class="btn btn-danger" (click)="onRemove(d)">Remove</button> 

           </td>
       </tr> 
       </ng-template>

       <ng-template #notfound>

          <h1 class="text-center text-danger">No categrious present</h1>
         </ng-template>
    
      
    </tbody>
  </table>
